h1 {
    color:blue;
}

li#first {
    color:rgb(160, 148, 95)
}

.hobby {
    background-color: darkgreen;
}

/* figure {
    .pic1 img {
    border-radius: 90px;
    }
} */

.btn {
    border-radius: 5px;
    align-items: center;
    background-color: lightblue;
    padding: 10px;
    text-decoration: none;
    color: white;
  }



.button001 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 225px;
    padding: 10px 0px 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.button001 a:before, .button001 a:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
}
.button001 a:before {
  width: 0.5rem;
  height: 0.5rem;
  left: 1.1rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}
.button001 a:after {
  left: 0;
  background: #6bb6ff;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.button001 a span {
  position: relative;
  transition: all 0.3s;
  z-index: 3;
}

.button001 a:hover span {
  color: #fff;
}
.button001 a:hover:before {
  left: 2rem;
}
.button001 a:hover:after {
  right: 0;
  width: 100%;
}

.ac-box{
    width: auto;
    margin: 30px auto 5px;
    }
    
    .ac-box label{
    max-width: 385px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #f05689;
    margin: auto;
    line-height: 50px;
    position: relative;
    display: block;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    transition: all 0.5s;
    }
    
    .ac-box label:hover{
    background: rgba( 240, 86, 137, 0.55 );
    -webkit-transition: all .3s;
    transition: all .3s;
    }
    
    .ac-box input{
    display: none;
    }
    
    .ac-box label:after{
    color: #fff;
    font-family:"Meiryo UI";
    content:" \2193";
    }
    
    .ac-box input:checked ~ label::after {
    color: #fff;
    font-family:"Meiryo UI";
    content:" \2191";
    }
    
    .ac-box div{
    height: 0px;
    padding: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    }
    
    .ac-box input:checked ~ div{
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
    }
    
    .ac-box div p{
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-align: justify;
    }
    .ac-small p{
    margin-bottom: 0px;
    }

    .btn-container {
      text-align: center;
    }
    
    button {
      width: 30%;
      height: 50px;
      font-size: 18px;
      font-weight: bold;
    
      /* ボタンにカーソルを当てると、カーソルがポインターに変わる */
      cursor: pointer;
    }
    
    /* ボタンにカーソルを当てたとき、ボタンを半透明にする */
    button:hover {
     opacity: 0.7;
    }
    
    .hidden {
      display: none;
    }
    
    #mask {
      background: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
    }
    
    #modal {
      background: #fff;
      width: 50%;
      padding: 24px;
      border-radius: 4px;
      color: red;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0 auto;
      z-index: 2;
    }

    p.result {
      font-size: 36px;
  }
